@model IEnumerable<SportsStore.Domain.Entities.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>
    All Products</h1>
<table class="Grid">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th class="NumericCol">
            Price
        </th>
        <th>
            Action
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID
            </td>
            <td>
                @Html.ActionLink(item.Name, "Edit", new { productID = item.ProductID })
            </td>
            <td class="NumericCol">
                @item.Price.ToString("c")
            </td>
            <td>
                @using (Html.BeginForm("Delete", "Admin"))
                {
                    @Html.Hidden("ProductID", item.ProductID)
                    <input type="submit" value="Delete" onclick="return confirm('You really want to delete this product?');"  />
                }
            </td>
        </tr>
    }
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</table>
